@media only screen and (min-width:992px){
    .users-list > li{width: 25%;}
	.users-list > li:nth-child(4n+1){
        clear: left;
    }
}

@media only screen and (min-width:768px) and (max-width:991px){
    .users-list > li{width: 33.33%;}
	.users-list > li:nth-child(3n+1){
        clear: left;
    }
}

@media only screen and (min-width:480px) and (max-width:767px){
    .users-list{margin: 0px;}
    .users-list > li{width: 50%;padding: 0 10px;margin-bottom: 20px;}
	.users-list > li:nth-child(2n+1){
        clear: left;
    }
}

@media only screen and (max-width:767px){
    
}

@media only screen and (max-width:479px){
    .users-list{margin: 0;}
    .users-list > li{width: 100%;margin-bottom: 20px;}
	
}